@model TestApp.ViewModels.MenuList
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
        <img src="~/MicrosoftTeams-image.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">GlobalNet</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block text-center"> Bonjour, @User.Identity.Name</a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">

                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Dashboard v1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index2.html" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Dashboard v2</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index3.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Dashboard v3</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">Section des directions</li>
                    @{ foreach (var MenuItem in Model.DirectionMenuModel.ToList())
                        {
                            var SubMenuItem = Model.CategoryMenuModel.Where(m => m.DirectionId == MenuItem.DirectionId);
                            if (SubMenuItem.Count() > 0)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-circle"></i>
                                        <p>
                                            @MenuItem.DirectionName
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    @foreach (var SubItem in SubMenuItem)
                                    {
                                        <ul class="nav nav-treeview">

                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>
                                                        @SubItem.CategoryName
                                                        <i class="right fas fa-angle-left"></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview" id="list">
                                                    
                                                    <li class="nav-item" id="@SubItem.CategoryId">
                                                        <a class="nav-link" role="button" id="rapportlist" >
                                                            
                                                            <i class="far fa-dot-circle nav-icon"></i>
                                                            <p>Rapports</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" id="@SubItem.CategoryId">
                                                        <a role="button" class="nav-link" id="dashboardlist">
                                                            <i class="far fa-dot-circle nav-icon"></i>
                                                            <p>Dashboards</p>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>

                                        </ul>
                                    }
                                </li>

                            }
                        }
                    }
                    @if (User.IsInRole("Admin"))

                    {

                        <li class="nav-header">Section Administrateur</li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Documents
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Rapportbutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Rapports</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Dashboardbutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboards</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Utilisateurs
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Userbutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Utilisateurs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Profilebutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Profile</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Direction / Categorie
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Directionbutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Directions</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="button" id="Categorybutton">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Categories</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
            </nav>
         }
            <!-- /.sidebar-menu -->
        </div>

    <!-- /.sidebar -->
</aside>

<aside class="control-sidebar control-sidebar-dark"></aside>

<script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>

